<!doctype html>
<html>
<head>
<title>Test'em</title>
<link rel="stylesheet" href="/testem/mocha.css">
<script src="tmp/subject.js"></script>
<script src="/testem/mocha.js"></script>
<script src="/testem/chai.js"></script>
<script src="/testem.js"></script>
<script src="test/browser-vendor/mocha-given.js"></script>
<script>
mocha.setup('mocha-given');
</script>
{{#scripts}}<script src="{{{src}}}"{{#attrs}} {{&.}}{{/attrs}}></script>{{/scripts}}
{{#serve_files}}
<script src="{{src}}"></script>
{{/serve_files}}

{{#css_files}}
<link rel="stylesheet" href="{{src}}">
{{/css_files}}
</head>
<body>
<div id="mocha"></div>
<script>
mocha.run()
</script>
</body>
</html>
